<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Burgers Disappear</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/burgers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body
    style="background-color: #fbf6f0; background-image: 
radial-gradient(circle at 100% 150%, #fbf6f0 24%, white 24%, white 28%, #fbf6f0 28%, #fbf6f0 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #fbf6f0 24%, white 24%, white 28%, #fbf6f0 28%, #fbf6f0 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, #fbf6f0 10%, #fbf6f0 23%, white 23%, white 30%, #fbf6f0 30%, #fbf6f0 43%, white 43%, white 50%, #fbf6f0 50%, #fbf6f0 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, #fbf6f0 5%, #fbf6f0 15%, white 15%, white 20%, #fbf6f0 20%, #fbf6f0 29%, white 29%, white 34%, #fbf6f0 34%, #fbf6f0 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, #fbf6f0 5%, #fbf6f0 15%, white 15%, white 20%, #fbf6f0 20%, #fbf6f0 29%, white 29%, white 34%, #fbf6f0 34%, #fbf6f0 44%, white 44%, white 49%, transparent 49%, transparent); background-size: 100px 50px;">
    {{{body}}}
</body>

</html>