{{!-- add bulk html outline for the content of the burger page --}}
<h1>Burger Love</h1>

{{!-- burger information for newly added burgers --}}
<h2>I must eat these</h2>


{{!-- burger information for the consumed burgers --}}
<h2>I already ate these</h2>

{{!-- section to add a new burger --}}
<h2>Add a new burger:</h2>
<form>
    <div>
        <label>Burger name:</label>
        <input type="text">
    </div>
    <button type="submit">Add Burger</button>
</form>